<div class="container">
  <h1 class="h2 font-weight-bold mb-4">Liste des Motifs</h1>
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <button class="btn btn-primary" (click)="addMotif()"> <i class="fas fa-plus-circle"></i>Ajouter Motif</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover w-100">
      <thead class="thead-white">
      <tr>
        <th scope="col"><span>#</span></th>
        <th scope="col"><span>Titre du Motif</span></th>
        <th scope="col"><span>Actions</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let motif of motifs; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ motif.title }}</td>

        <td>
          <button class="btn btn-warning btn-sm" (click)="editMotif(motif.id)"> <i class="fas fa-edit"></i>Modifier</button>
          <button class="btn btn-danger btn-sm m-2 " (click)="showDeleteConfirmation(deleteModal, motif.id)"><i class="fas fa-trash"></i>Supprimer</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
<!-- Modal de confirmation de suppression -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmer la suppression</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    Êtes-vous sûr de vouloir supprimer ce motif ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Non</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Oui</button>
  </div>
</ng-template>


</div>
